.main_start {
    position: relative;
    width: 100vw;
    height: 85vh;
    background: linear-gradient(to bottom, rgba(29, 29, 29, 0.6), rgba(29, 29, 29, .6)70%, rgba(29, 29, 29, 1) 100%), url("../img/placeholder/jwst.png");
    background-size: cover;
    /*    -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(90%, transparent), to(rgba(250, 250, 250, 0.1)));*/
}

.intro_text {
    position: absolute;
    top: 40vh;
    left: 17vw;
    max-width: 800px;
}

.intro h1 {
    font-weight: bold;
    font-size: 50px;
    line-height: 66.45px;
}

.article_container{
    max-width: 1000px;
    position: relative;
    display: grid;
    grid-template-columns: 80% 20%;
    margin: 15vh auto 0 auto;
}
aside{
    width: 180px;
    height: 440px;
    background: #fff;
    margin: 20px auto;
    position: relative;
}
.article_content{
    display: grid;
    grid-template-columns: 80% 20%;
    font-size: 18px;
}

.credits{
    margin-top: 30px;
    color:#C4C4C4;
    text-align: right;
}
strong{
   color:#C4C4C4; 
}
.article_imgs{
    padding-top: 50px;
}
.article_imgs img{
    display: block;
    width: 90%;
    position: relative;
    margin: 10px auto;
}
.carousel {
    padding: 0 50px;
    width: 1200px;
    position: relative;
    margin: 30px auto 100px auto;
    overflow: hidden;
}

.carousel ul {
    display: flex;
    width: 1050px;
    margin: 0 auto;
    position: relative;
    transition: .5s ease-in-out;
}

.prev,
.next {
    position: absolute;
    z-index: 10;
    top: 165px;
    cursor: pointer;
    transition: .1s linear;
}

.prev:hover {
    transform: scale(1.1);
}

.prev {
    left: 0px;
}

.next {
    transform: rotate(180deg) scale(1.0);
    right: 0px;
}

.next:hover {
    transform: scale(1.1) rotate(180deg);
}

.carousel_title {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 33px;
}


.carousel_tile {
    list-style: none;
    display: block;
    font-size: 16px;
    position: relative;
    margin: 8px;
    transition: .1s linear;
    cursor: pointer;
}

.carousel_tile:hover {
    filter: brightness(.6);
}

.carousel_tile img {
    width: 402px;
    height: 262px;
}

.carousel_text {
    background-color: #1d1d1d;
    max-width: 321px;
    position: absolute;
    bottom: 23px;
    line-height: 21px;
    padding-right: 5px;
}

.carousel_blur {
    height: 263px;
    width: 80px;
    top: 48px;
    z-index: 5;
    position: absolute;
}

.carousel_blur:nth-of-type(odd) {
    background: linear-gradient(90deg, rgba(29, 29, 29, 1) 0%, rgba(182, 182, 182, 0) 100%);
    left: 0px;
}

.carousel_blur:nth-of-type(even) {
    background: linear-gradient(270deg, rgba(29, 29, 29, 1) 0%, rgba(182, 182, 182, 0) 100%);
    right: 0px;
}