.intro_text i{
    font-size: 4vh;
    color: red;
}
.intro_text img{
    margin-left: 1vw;
    height: 4.2vh;
}
@media only screen and (max-width: 1000px) {
    .intro_text {
        position: absolute;
        top: 50vh;
        max-width: 800px;
    }

    .intro h1 {
        font-weight: bold;
        font-size: 22px;
        line-height: 30px;
        text-align: center;
    }

    .main_start {
        height: 45vh;
    }

    .article_container {
        width: 95vw;
        position: relative;
        display: grid;
        grid-template-columns: 100%;
        margin: 25vh auto 0 auto;
    }

    aside {
        text-align: center;
        width: 95vw;
        height: 220px;
        background: gray;
        margin: 20px auto;
        position: relative;
    }

    .prev,
    .next {
        display: none;
    }

    .carousel_blur {
        display: none
    }

    .carousel {
        padding: 0 0 0 2.5vw;
        width: 100vw;
        overflow-x: hidden;
    }

    .carousel ul {
        display: flex;
        width: 100vw;
        transition: .5s ease-in-out;
        overflow: scroll;
    }

    .carousel_title {
        font-size: 22px;
        text-transform: uppercase;
        font-weight: bold;
    }

    .carousel_title img {
        height: 25px;
    }

    .lightning {
        position: relative;
        top: 6px;
        height: 25px;
    }

    .carousel_tile {
        list-style: none;
        display: inline;
        font-size: 14px;
        position: relative;
        margin: 8px;
        transition: .1s linear;
        cursor: pointer;
        min-width: 50vw;
        overflow: hidden;
    }

    .carousel_tile:hover {
        filter: brightness(.6);
    }

    .carousel_tile img {
        height: 262px;
        position: relative;
        margin: 0 auto;
    }

    .carousel_text {
        background-color: #1d1d1d;
        max-width: 40vw;
        position: absolute;
        bottom: 23px;
        line-height: 21px;
        padding-right: 5px;
    }

    .article_content {
        display: grid;
        grid-template-columns: 100%;
        font-size: 18px;
    }

    .article_imgs {
        width: 95vw;
        display: flex;
        position: relative;
        margin: 20px auto;
        overflow: scroll;
    }

    .article_imgs img {
        display: inline-block;
        width: 40%;
        height: 26vw;
        position: relative;
        margin: 20px 10px;
    }
}

@media only screen and (min-width: 1000px) {
    .intro_text {
        position: absolute;
        top: 40vh;
        left: 17vw;
        max-width: 800px;
    }

    .intro h1 {
        font-weight: bold;
        font-size: 50px;
        line-height: 66.45px;
    }

    .main_start {
        height: 85vh;
    }

    .article_container {
        max-width: 1000px;
        position: relative;
        display: grid;
        grid-template-columns: 80% 20%;
        margin: 15vh auto 0 auto;
    }

    aside { 
        text-align: center;
        width: 180px;
        height: 440px;
        background: gray;
        margin: 20px auto;
        position: relative;
    }

    .prev,
    .next {
        position: absolute;
        z-index: 10;
        top: 165px;
        cursor: pointer;
        transition: .1s linear;
    }

    .prev:hover {
        transform: scale(1.1);
    }

    .next:hover {
        transform: scale(1.1) rotate(180deg);
    }

    .prev {
        left: 0px;
    }

    .next {
        transform: rotate(180deg) scale(1.0);
        right: 0px;
    }

    .carousel_blur {
        height: 263px;
        width: 80px;
        top: 54px;
        z-index: 5;
        position: absolute;
    }

    .carousel_blur:nth-of-type(odd) {
        background: linear-gradient(90deg, rgba(29, 29, 29, 1) 0%, rgba(182, 182, 182, 0) 100%);
        left: 0px;
    }

    .carousel_blur:nth-of-type(even) {
        background: linear-gradient(270deg, rgba(29, 29, 29, 1) 0%, rgba(182, 182, 182, 0) 100%);
        right: 0px;
    }

    .carousel {
        padding: 0 50px;
        width: 1200px;
        position: relative;
        margin: 25px auto;
        overflow: hidden;
    }

    .carousel ul {
        display: flex;
        width: 1050px;
        margin: 0 auto;
        position: relative;
        transition: .5s ease-in-out;
    }

    .carousel_title {
        font-size: 35px;
        text-transform: uppercase;
        font-weight: bold;
        margin-left: 33px;
    }

    .lightning {
        position: relative;
        top: 6px;
    }

    .carousel_tile {
        list-style: none;
        display: block;
        font-size: 16px;
        position: relative;
        margin: 8px;
        transition: .1s linear;
        cursor: pointer;
    }

    .carousel_tile:hover {
        filter: brightness(.6);
    }

    .carousel_tile img {
        width: 402px;
        height: 262px;
    }

    .carousel_text {
        background-color: #1d1d1d;
        max-width: 321px;
        position: absolute;
        bottom: 23px;
        line-height: 21px;
        padding-right: 5px;
    }

    .article_content {
        display: grid;
        grid-template-columns: 80% 20%;
        font-size: 18px;
    }

    .article_imgs {
        padding-top: 50px;
    }

    .article_imgs img {
        display: block;
        width: 90%;
        position: relative;
        margin: 10px auto;
    }
}

.main_start {
    position: relative;
    width: 100vw;
    background: linear-gradient(to bottom, rgba(29, 29, 29, 0.6), rgba(29, 29, 29, .6)70%, rgba(29, 29, 29, 1) 100%), url("../img/placeholder/jwst.png");
    background-size: cover;
    /*    -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(90%, transparent), to(rgba(250, 250, 250, 0.1)));*/
}

.credits {
    margin-top: 30px;
    color: #C4C4C4;
    text-align: right;
}

strong {
    color: #C4C4C4;
}