* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body {
    overflow-x: hidden;
    background-color: #1D1D1D;
}

.main_start {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 2) 190%), url("../img/main_photo.png");
    background-size: cover;
    -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(90%, transparent), to(rgba(250, 250, 250, 0.1)));
}

.intro_text {
    position: absolute;
    top: 59vh;
    left: 17vw;
    display: grid;
}

.intro h1 {
    font-weight: bolder;
    font-size: 94px;
    line-height: 93px;
}

.intro p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 23px;
    margin-top: 4vh;
}

.intro button {
    width: 11vw;
    height: 5vh;
    color: #FF6416;
    background: rgba(255, 100, 22, 0.2);
    border-radius: 10px;
    border: 2px solid #FF6416;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    margin-top: 3vh;
}

.intro button:hover {
    cursor: pointer;
}

.intro_social {
    position: absolute;
    right: 4vw;
    bottom: 8vh;
}

.intro_social i {
    margin-bottom: 4vh;
    display: block;
    font-size: 20px;
    color: white;
}

.intro_social i:hover,
img:hover {
    cursor: pointer;
    filter: invert(49%) sepia(49%) saturate(3635%) hue-rotate(349deg) brightness(100%) contrast(104%);
    color: #FF6416;
}

.news h1 {
    margin-top: 18vh;
    margin-bottom: 5vh;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 59px;
    text-align: center;
    color: #FFFFFF;
}

.news_feed {
    display: grid;
    width: 51vw;
    margin: 0 auto;
    height: 66vh;
    margin-bottom: 18vh;
    grid-template-columns: 0.5fr 0.5fr;
    grid-template-rows: 31.2vh 31.2vh;
    gap: 1.3vh;
}

.news_feed div>span {
    background-color: #1D1D1D;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    text-transform: capitalize;
    color: #FFFFFF;
}

.news_article_1 {
    grid-row: 1/2;
    grid-column: 1/2;
    /* background-color: blanchedalmond; */
    background-image: url("../img/placeholder/jwst.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.news_article_2 {
    grid-row: 1/2;
    grid-column: 2/3;
    background-image: url("../img/placeholder/turtle.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain
}

.news_article_3 {
    grid-row: 2/3;
    grid-column: 1/2;
    background-image: url("../img/placeholder/leaf.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain
}

.news_article_4 {
    grid-row: 2/3;
    grid-column: 2/3;
    background-image: url("../img/placeholder/thunderstorm.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain
}