* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body {
    overflow-x: scroll;
    background-color: #1D1D1D;
}

.main_start {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom, rgba(29,29,29, 0.6),rgba(29,29,29, .6)70%, rgba(29,29,29, 1) 100%), url("../img/placeholder/jwst.png");
    background-size: cover;
/*    -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(90%, transparent), to(rgba(250, 250, 250, 0.1)));*/
}

.intro_text {
    position: absolute;
    top: 59vh;
    left: 17vw;
    display: grid;
}

.intro h1 {
    font-weight: bold;
    font-size: 70px;
    line-height: 93px;
}

.intro p {
    font-family: Roboto;
    font-weight: 100;
    letter-spacing: 1px;
    font-size: 20px;
    line-height: 23px;
    margin-top: 32px;
}

.intro button {
    width: 223px;
    height: 56px;
    color: #FF6416;
    text-transform: uppercase;
    border-radius: 10px;
    background: rgba(255, 100, 22, 0);
    border: 2px solid #FF6416;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    font-weight: bold;
    margin-top: 47px;
    cursor: pointer;
}

.intro button:hover {
    background: rgba(255, 100, 22, 0.2);
}

.intro_social {
    position: absolute;
    right: 4vw;
    bottom: 8vh;
}

.intro_social i {
    margin-bottom: 24px;
    display: block;
    font-size: 24px;
    color: white;
    transition: .1s linear;
}
.intro_social img{
    transition: .1s linear;
    width: 24px;
}

.intro_social i:hover,
.main_start img:hover {
    cursor: pointer;
    filter: invert(49%) sepia(49%) saturate(3635%) hue-rotate(349deg) brightness(100%) contrast(104%);
    color: #FF6416;
    
}

.news{
    margin-bottom: 75px;
}

.news h1 {
    margin-top: 15vh;
    margin-bottom: 5vh;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 59px;
    text-align: center;
    color: #FFFFFF;
}

.news_tiles{
    width: 900px;
    display: grid;
    grid-template-columns: 50% 50%;
    position: relative;
    margin: 0 auto;
}
.news_article{
    width: 450px;
    padding: 8px;
    position: relative;
    cursor: pointer;
    transition: .1s linear;
}
.news_article:hover{
    filter: brightness(.6)
}
.news_article img{
    width: 434px;
    height: 309px;
}
.news_text{
    font-size: 20px;
    max-width: 80%;
    background-color: #1d1d1d;
    font-weight: bold;
    position: absolute;
    bottom: 38px;
}
.carousel{
    padding: 0 50px;
    width: 1200px;
    position: relative;
    margin: 25px auto;
    overflow: hidden;
}
.carousel ul{
    display: flex;
    width: 1050px;
    margin: 0 auto;
    position: relative;
    transition: .5s ease-in-out;
    }
.prev, .next{
    position: absolute;
    z-index: 10;
    top: 165px;
    cursor: pointer;
    transition: .1s linear;
}
.prev:hover{
    transform: scale(1.1);
}

.prev{
    left: 0px;
}
.next{
    transform: rotate(180deg) scale(1.0);
    right: 0px;
}
.next:hover{
    transform: scale(1.1) rotate(180deg);
}
.carousel_title{
    font-size: 35px;
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 33px;
}
.carousel_title img:first-of-type{
    position: relative;
    top:6px;
}

.carousel_tile{
    list-style: none;
    display: block;
    font-size: 16px;
    position: relative;
    margin: 8px;
    transition: .1s linear;
    cursor: pointer;
}
.carousel_tile:hover{
    filter: brightness(.6);
}
.carousel_tile img{
    width: 402px;
    height: 262px;
}
.carousel_text{
    background-color: #1d1d1d;
    max-width: 321px;
    position: absolute;
    bottom: 23px;
    line-height: 21px;
    padding-right: 5px;
}
.carousel_blur{
    height: 263px;
    width: 80px;
    top: 54px;
    z-index: 5;
    position: absolute;
}
.carousel_blur:nth-of-type(odd){
    background: linear-gradient(90deg, rgba(29,29,29,1) 0%, rgba(182,182,182,0) 100%);
    left: 0px;
}
.carousel_blur:nth-of-type(even){
    background: linear-gradient(270deg, rgba(29,29,29,1) 0%, rgba(182,182,182,0) 100%);
    right:0px;
}