* {
    box-sizing: border-box;
}

@font-face {
    font-family: Exo;
    color: white;
    src: url(../fonts/Exo-VariableFont_wght.ttf)
}

.exo_font {
    font-family: Exo;
    font-style: normal;
}

.top_nav {
    font-size: 17px;
    text-align: center;
}

.top_nav .container {
    display: grid;
    grid-template-columns: 0.5fr 3.2fr 0.5fr 0.3fr;
    grid-template-rows: 3vh 4vh;
}

.top_nav .logo {
    margin: 0 auto;
    width: 42px;
    height: 47px;
    background-image: url(../img/icon.png);
    background-size: cover;
}

.top_nav a {
    color: white;
    text-align: center;
    padding: 1.5vw;
    text-decoration: none;
    font-size: 21px;
    font-style: normal;
    font-weight: bold;
    line-height: 23px;
}

.top_nav .col-2 {
    grid-row: 2/3;
    grid-column: 2/3;
}

.top_nav .col-3 {
    grid-row: 2/3;
    grid-column: 3/-1;
}

.top_nav .col-1 {
    grid-row: 2/3;
    grid-column: 1/2;
}

.top_nav a:hover {
    color: black;
}

.top_nav a.active {
    background-color: transparent;
    color: black;
}

.search_top_nav input {
    background-color: transparent;
    border-style: hidden hidden groove;
    outline: none;
    border: transparent;
    border-bottom: #FF6416;
    border-style: solid;
    font-size: 15px;
    line-height: 20px;
}

.search_top_nav input:active {
    outline: none;
    border-style: hidden hidden groove;
    border-bottom: #FF6416;
    border-style: solid;
}

.search_top_nav input::placeholder {
    color: white;
}

.search_top_nav .fa {
    color: white;
    font-size: 2.2vh;
}