@font-face {
    font-family: Exo;
    src: url(../fonts/Exo-VariableFont_wght.ttf)
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Regular.ttf)
}

body {
    background-color: #1D1D1D;
    color: white;
}

.topnav {
    text-align: center;
    font-size: 17px;
}

.exo_font {
    font-family: Exo;
    font-style: normal;
}

.roboto_font {
    font-family: Roboto;
    font-style: normal;
}

.topnav a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    color: black;
}

.topnav a.active {
    background-color: transparent;
    color: black;
}

footer {
    display: grid;
    grid-template-columns: 30% 17% 17% 17% 20%;
    position: relative;
    margin: 0 auto;
    max-width: 1000px;
}

footer > div {
    height: 100%;
}

#foot_logo {
    font-size: 30px;
    font-weight: bold;
}

#foot_logo img {
    width: 42px;
    height: 47px;
}

#foot_logo .helper {
    height: 47px;
    position: relative;
    margin-top: 30px;
}

#foot_logo .helper span {
    position: relative;
    top: -12px;
    left: 10px;
}

.footer-col {
    font-family: Roboto;
    font-style: normal;
    font-size: 14px;
    line-height: 16px;

}

.footer-col ul li {
    list-style: none;
    margin-bottom: 20px;
}

.footer-col ul li a {
    color: #C4C4C4;
    text-decoration: none;
}

#social {
    text-align: right
}

#social > .social_icon {
    width: 44px;
    height: 44px;
    border-radius: 22px;
    cursor: pointer;
    display: inline-block;
    margin: 6px;
    transition: .1s linear;
}

#social .facebook {
    background-color: #699DEA;
}
#social .facebook:hover{
    background-color: #385888;
}

#social .mail {
    background-color: #797979;
}
#social .mail:hover{
    background-color: #525151;
}
#social img{
    margin: 10px;
}
