.topnav {
    text-align: center;
}
  
.topnav a {
      
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    color: black;
  }
  
  .topnav a.active {
    background-color: transparent;
    color: black;
  }