@media only screen and (max-width: 1000px) {
    .logo_box {
        display: inline-block;
        position: relative;
        top: 7px;
    }

    .logo {
        display: inline-block;
        width: 42px;
        height: 47px;
        background-image: url(../img/components/icon.png);
        background-size: cover;
        position: relative;
        left: 0;
    }

    .planet_icon_box {
        position: absolute;
        top: 5px;
        left: 50px;
    }

    footer {
        position: relative;
        margin: 0 auto;
        width: 95vw;
        margin-bottom: 40px;
    }

    footer > div {
        height: 100%;
    }

    #foot_logo {
        font-size: 30px;
        font-weight: bold;
        text-align: center;
    }

    #foot_logo img {
        width: 42px;
        height: 47px;
    }

    #foot_logo .helper {
        height: 47px;
        position: relative;
        margin: 30px 0;
    }

    #foot_logo .helper span {
        position: relative;
        top: -12px;
        left: 10px;
    }

    .footer-col {
        font-family: Roboto;
        font-style: normal;
        font-size: 14px;
        line-height: 16px;
        display: inline-block;
        width: 49%;
    }

    .footer-col:nth-of-type(3) {
        text-align: right;
    }

    .footer-col ul li {
        list-style: none;
        margin-bottom: 20px;
    }

    .footer-col ul li a {
        color: #C4C4C4;
        text-decoration: none;
    }

    #social {
        text-align: left;
    }

    .top_nav {
        display: none;
    }
    footer .planet_icon_box{
        left:0 !important;
        position: relative;
        top: -15px
    }
}

@media only screen and (min-width: 1000px) {
    footer .planet_icon_box{
        left:45px;}
    .logo_box {
        display: inline-block;
        margin: 0 auto;
    }

    .logo {
        display: inline-block;
        width: 42px;
        height: 47px;
        background-image: url(../img/components/icon.png);
        background-size: cover;
        position: relative;
        left: 0;
    }

    .planet_icon_box {
        position: absolute;
        top: 5px;
        left: 156px;
    }

    footer {
        display: grid;
        grid-template-columns: 30% 17% 17% 17% 20%;
        position: relative;
        margin: 0 auto;
        width: 1000px;
        margin-bottom: 40px;
    }

    footer > div {
        height: 100%;
    }

    #foot_logo {
        font-size: 30px;
        font-weight: bold;
    }

    #foot_logo img {
        width: 42px;
        height: 47px;
    }

    #foot_logo .helper {
        height: 47px;
        position: relative;
        margin-top: 30px;
    }

    #foot_logo .helper span {
        position: relative;
        top: -12px;
        left: 10px;
    }

    .footer-col {
        font-family: Roboto;
        font-style: normal;
        font-size: 14px;
        line-height: 16px;
    }

    .footer-col ul li {
        list-style: none;
        margin-bottom: 20px;
    }

    .footer-col ul li a {
        color: #C4C4C4;
        text-decoration: none;
    }

    #social {
        text-align: right
    }

    .mobile_nav {
        display: none;
    }
}

* {
    box-sizing: border-box;
}

@font-face {
    font-family: Exo;
    src: url(../fonts/Exo-VariableFont_wght.ttf)
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Regular.ttf)
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body {
    overflow-x: hidden;
    background-color: #1D1D1D;
}

.exo_font {
    font-family: Exo;
    font-style: normal;
}

.top_nav {
    font-size: 17px;
    text-align: center;
    position: fixed;
    top: 0px;
    z-index: 11;
    height: 85px;
}

.top_nav .container {
    width: 98vw;
    position: relative;
    margin: 0 auto;
    top: 2vw;
    display: grid;
    grid-template-columns: 250px auto 250px;
}

.logo_box span {

    font-family: Roboto;
    padding-bottom: 5%;
    font-size: 30px;

}

.logo_box .planet_icon {
    font-weight: 600;
    color: #707070;
}

.logo_box .planet_icon_2 {
    font-weight: 100;
    color: #FF6416;
}

.top_nav a {
    color: white;
    text-align: center;
    padding: 1.5vw;
    text-decoration: none;
    font-size: 17px;
    font-style: normal;
    font-weight: bold;
    line-height: 23px;
    transition: .1s linear;
}

.top_nav a:hover {
    color: #FF6416;
}

.top_nav a.active {
    background-color: transparent;
    color: black;
}

search_top_nav .fa {
    font-weight: lighter;
}

button:focus {
    outline: 0 !important;
}

.more:hover {
    filter: invert(49%) sepia(49%) saturate(3635%) hue-rotate(349deg) brightness(100%) contrast(104%);

}

.search_top_nav input {
    background-color: transparent;
    border-style: hidden hidden groove;
    outline: none;
    border: transparent;
    border-bottom: #FF6416;
    border-bottom-width: 1px;
    border-style: solid;
    font-size: 15px;
    line-height: 20px;
    font-family: Exo;
}

.search_top_nav input:focus {
    border-bottom-width: 4px;
    border-bottom: #ff6b16;
}

.search_top_nav img {
    position: relative;
    top: 6px;
    left: -5px;
}

.search_top_nav input:active {
    outline: none;
    border-style: hidden hidden groove;
    border-bottom: #FF6416;
    border-style: solid;
}

.search_top_nav input::placeholder {
    color: white;
}

.search_top_nav .fa {
    color: white;
    font-size: 2.2vh;
}

.roboto_font {
    font-family: Roboto;
    font-style: normal;
}

#social > .social_icon {
    width: 44px;
    height: 44px;
    border-radius: 22px;
    cursor: pointer;
    display: inline-block;
    margin: 6px;
    transition: .1s linear;
}

#social .facebook {
    background-color: #699DEA;
}

#social .facebook:hover {
    background-color: #385888;
}

#social .mail {
    background-color: #797979;
}

#social .mail:hover {
    background-color: #FF6416;
}

#social img {
    margin: 10px;
}

.mobile_nav {
    position: fixed;
    z-index: 11;
    background: #1d1d1d;
    width: 100vw;
    height: 60px;
}

.mobile_nav .topbar > div {
    width: 95vw;
    height: 60px;
    position: relative;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 50% 50%;
}

.mobile_nav .topbar > .search_bar {
    grid-template-columns: 75% 25%;
}

.mobile_nav .icons,
.mobile_nav .icon,
.mobile_nav .close {
    text-align: right;
}

.mobile_nav .icons img,
.mobile_nav .icon img,
.mobile_nav .close img {
    margin-top: 20px;
    margin-right: 20px;
}

.mobile_nav .list {
    position: fixed;
    z-index: 10;
    width: 100vw;
    background: #1d1d1d;
    font-weight: bold;
    top: -100%;
    transition: .1s linear;
}

.mobile_nav .list ul {
    margin-top: 10px;
    text-decoration: none;
}

.mobile_nav .list ul li {
    list-style: none;
    padding: 13px 30px;
    border-bottom: 1px solid white;
}

.mobile_nav .list ul li:last-of-type {
    border: none;
}

.mobile_nav .list ul li a {
    text-decoration: none;
}

.search_bar input {
    background-color: #1d1d1d;
    color: white;
    font-family: 'Roboto';
    border-bottom: 1px solid #FF6416;
    outline: none;
    height: 40px;
    font-weight: bolder;
    font-size: 16px;
    margin-top: 10px;
    width: 90%;
    position: relative;
    left: 7%;
}

.search_bar input:active {
    border-bottom: 1px solid #FF6416;
    outline: none;
}

.credits {
    font-family: Roboto;
    text-align: center;
    margin-bottom: 2px;
    font-weight: 200;
}

footer .planet_icon_box{
    left:45px;
    font-weight: normal;
}
.mobile_nav .planet_icon_box span{
    font-size: 22px !important;
}