@font-face {
    font-family: Exo;
    src: url(../fonts/Exo-VariableFont_wght.ttf)
}
.topnav {
    text-align: center;
    font-size: 17px;
}
.exo_font{
    font-family: Exo;
    font-style: normal;
}
.topnav a {
      
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    color: black;
  }
  
  .topnav a.active {
    background-color: transparent;
    color: black;
  }